In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from tqdm.notebook import tqdm
import math
import glob
from datetime import datetime

In [2]:
df = pd.read_csv("data/train_denorm_1M.zip")
df.head()

,CALL_TYPE,TAXI_ID,TIMESTAMP,tid,day_of_week,POLYLINE_LEN,lat,lon
0,C,20000380,1372636853,1372636853620000380,weekday,25,-8.610291,41.140746
1,C,20000380,1372636868,1372636853620000380,weekday,25,-8.610300,41.140755
2,C,20000380,1372636883,1372636853620000380,weekday,25,-8.610309,41.140890
3,C,20000380,1372636898,1372636853620000380,weekday,25,-8.613657,41.141358
4,C,20000380,1372636913,1372636853620000380,weekday,25,-8.614602,41.141484

In [3]:
len(df.tid.unique())

121312

In [4]:
#cambio i taxi id perchè il numero è troppo grande per l'implementazione java di Movelets

c = -1
new_tids = []

prec = -1

for row in tqdm(df.values):
    if row[3] != prec:
        prec = row[3]
        c +=1
    
    new_tids.append(c)
    #c+=1


df.tid = new_tids

df.head()

  0%|          | 0/5672929 [00:00<?, ?it/s]

,CALL_TYPE,TAXI_ID,TIMESTAMP,tid,day_of_week,POLYLINE_LEN,lat,lon
0,C,20000380,1372636853,0,weekday,25,-8.610291,41.140746
1,C,20000380,1372636868,0,weekday,25,-8.610300,41.140755
2,C,20000380,1372636883,0,weekday,25,-8.610309,41.140890
3,C,20000380,1372636898,0,weekday,25,-8.613657,41.141358
4,C,20000380,1372636913,0,weekday,25,-8.614602,41.141484

In [5]:
len(df.tid.unique())

121312

In [6]:
len(df)

5672929

In [7]:
 df = df[df.tid < df.tid.max()*.7]

In [8]:
len(df)

3989765

In [9]:
df0 = df[["tid", "CALL_TYPE", "lat", "lon", "TIMESTAMP"]]\
        .rename(columns={"lat": "c1", "lon": "c2", "TIMESTAMP": "t", "CALL_TYPE": "class"})

df0.head()

   tid class        c1         c2           t
0    0     C -8.610291  41.140746  1372636853
1    0     C -8.610300  41.140755  1372636868
2    0     C -8.610309  41.140890  1372636883
3    0     C -8.613657  41.141358  1372636898
4    0     C -8.614602  41.141484  1372636913

In [10]:
t_rocket = 0

start = datetime.now()

df0["pos"] = df0.groupby(['tid']).cumcount()

t_rocket = (datetime.now() - start).total_seconds() * 1000 #ms

In [12]:
start = datetime.now()

def padLastValue(df):
    array = df.values
    for i in tqdm(range(len(array))):
        for j in range(len(array[i])):
            if math.isnan(array[i][j]):
                array[i][j] =array[i][j-1]
    return pd.DataFrame(array)

percentile=1

print("LAT")
df_lat = pd.DataFrame()
df_lat = df0.groupby(['tid','pos'])['c1'].max().unstack()
df_lat = padLastValue(df_lat)

print("LON")
df_lon = pd.DataFrame()
df_lon = df0.groupby(['tid','pos'])['c2'].max().unstack()
df_lon = padLastValue(df_lon)

print("TIME")
df_time = pd.DataFrame()
df_time = df0.groupby(['tid','pos'])['t'].max().unstack()
df_time = padLastValue(df_time)

y = df0.groupby(['tid'])['class'].max()



from sktime.transformations.panel.rocket import Rocket
from sktime.datatypes._panel._convert import from_2d_array_to_nested

nested_lat = from_2d_array_to_nested(df_lat).rename(columns={0: "dim_0"})
nested_lon = from_2d_array_to_nested(df_lon).rename(columns={0: "dim_0"})
nested_time = from_2d_array_to_nested(df_time).rename(columns={0: "dim_0"})

nested = nested_lat
#nested = nested_UTMGridNorth

nested["dim_1"] = nested_lon["dim_0"]
nested["dim_2"] = nested_time["dim_0"]



t_rocket = (datetime.now() - start).total_seconds() * 1000 #ms

LAT

  0%|          | 0/84918 [00:00<?, ?it/s]

LON

  0%|          | 0/84918 [00:00<?, ?it/s]

TIME

  0%|          | 0/84918 [00:00<?, ?it/s]

C:\Users\cri98\anaconda3\lib\site-packages\sktime\datatypes\_series\_check.py:43: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  VALID_INDEX_TYPES = (pd.Int64Index, pd.RangeIndex, pd.PeriodIndex, pd.DatetimeIndex)
C:\Users\cri98\anaconda3\lib\site-packages\sktime\datatypes\_hierarchical\_check.py:50: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  VALID_INDEX_TYPES = (pd.Int64Index, pd.RangeIndex, pd.PeriodIndex, pd.DatetimeIndex)
C:\Users\cri98\anaconda3\lib\site-packages\sktime\datatypes\_hierarchical\_check.py:51: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  VALID_MULTIINDEX_TYPES = (pd.Int64Index, pd.RangeIndex)
C:\Users\cri98\anaconda3\lib\site-packages\sktime\datatypes\_panel\_check.py:48: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  VALID_INDEX_TYPES = (pd.Int64Index, pd.RangeIndex, pd.PeriodIndex, pd.DatetimeIndex)
C:\Users\cri98\anaconda3\lib\site-packages\sktime\datatypes\_panel\_check.py:49: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  VALID_MULTIINDEX_TYPES = (pd.Int64Index, pd.RangeIndex)
C:\Users\cri98\anaconda3\lib\site-packages\sktime\datatypes\_proba\_check.py:43: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  VALID_INDEX_TYPES = (pd.Int64Index, pd.RangeIndex, pd.PeriodIndex, pd.DatetimeIndex)

In [13]:
df0.head()

   tid class        c1         c2           t  pos
0    0     C -8.610291  41.140746  1372636853    0
1    0     C -8.610300  41.140755  1372636868    1
2    0     C -8.610309  41.140890  1372636883    2
3    0     C -8.613657  41.141358  1372636898    3
4    0     C -8.614602  41.141484  1372636913    4

In [14]:
start = datetime.now()

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(nested, y, test_size=.3, stratify=y)

rocket = Rocket(n_jobs=-1, num_kernels=10000)  # by default, ROCKET uses 10,000 kernels
rocket.fit(X_train)

X_train_transform = rocket.transform(X_train)
X_test_transform = rocket.transform(X_test)

t_rocket = (datetime.now() - start).total_seconds() * 1000 #ms

In [15]:
t_rocket

210163.98200000002

In [16]:
%%time

from sklearn.ensemble import RandomForestClassifier
from sklearn import tree

def report(results, n_top=3):
    for i in range(1, n_top + 1):
        candidates = np.flatnonzero(results['rank_test_score'] == i)
        for candidate in candidates:
            print("Model with rank: {0}".format(i))
            print("Mean validation score: {0:.3f} (std: {1:.3f})".format(
                results['mean_test_score'][candidate],
                results['std_test_score'][candidate]))
            print("Parameters: {0}".format(results['params'][candidate]))
            print("")

from sklearn.model_selection import GridSearchCV
parameters = {'n_estimators': range(300, 2000, 400),
              'criterion':["entropy", "gini"],
              'max_depth': range(2, 25, 5)}

clf = GridSearchCV(RandomForestClassifier(n_jobs=12), parameters, cv=3, n_jobs=2, verbose=3, scoring="accuracy")

clf.fit(X_train_transform, y_train)

report(clf.cv_results_, n_top=3)

Fitting 3 folds for each of 50 candidates, totalling 150 fits
Model with rank: 1
Mean validation score: 0.560 (std: 0.001)
Parameters: {'criterion': 'entropy', 'max_depth': 22, 'n_estimators': 1900}

Model with rank: 2
Mean validation score: 0.560 (std: 0.000)
Parameters: {'criterion': 'entropy', 'max_depth': 22, 'n_estimators': 1500}

Model with rank: 3
Mean validation score: 0.560 (std: 0.001)
Parameters: {'criterion': 'entropy', 'max_depth': 22, 'n_estimators': 1100}

Wall time: 11h 19min 15s

In [17]:
t_rocket

210163.98200000002

In [22]:
clf.best_estimator_.n_jobs = 24

RandomForestClassifier(criterion='entropy', max_depth=22, n_estimators=1900,
                       n_jobs=24)

In [23]:
%%time

rf = clf.best_estimator_
#clf = tree.DecisionTreeClassifier(max_depth=2)

rf.fit(X_train_transform, y_train)

from sklearn import metrics
y_pred=rf.predict(X_test_transform)


from sklearn.metrics import classification_report

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           A       0.57      0.19      0.28      5579
           B       0.56      0.94      0.70     12969
           C       0.62      0.18      0.28      6928

    accuracy                           0.57     25476
   macro avg       0.58      0.43      0.42     25476
weighted avg       0.58      0.57      0.49     25476

Wall time: 18min 43s

In [24]:
from sklearn.metrics import accuracy_score, f1_score

print(accuracy_score(y_test, y_pred))
print(f1_score(y_test, y_pred, average="weighted"))

0.5662976919453604
0.494546030567688

## Movelets

In [ ]:
import random
import os


def prepareForShapelet(df=pd.DataFrame, trajectoryIDAttribute= None, targetAttribute=None,
                       timestampAttribute=None, latAttr=None, lonAttr=None, trainPerc=.80, trajPerc=1.0, maxPoints=None):
    attributes = [timestampAttribute, "latLon"]+ [x for x in list(df.columns) if x not in [trajectoryIDAttribute, targetAttribute, timestampAttribute, latAttr, lonAttr]] #mi assicuro di avere il timestam come primo elemento
    if(os.path.exists("train") | os.path.exists("test")):
        print("Le cartelle train e test esistono già!")
        return

    df["latLon"] = df[latAttr].astype(str) + " " + df[lonAttr].astype(str)

    ids = list(df[trajectoryIDAttribute].unique())
    #ids = random.sample(ids, round(len(ids)*trajPerc))
    ids = ids[:round(len(ids)*trajPerc)]
    ids_train = random.sample(ids, round(trainPerc*len(ids)))
    ids_test = [x for x in ids if x not in ids_train]

    os.makedirs("train")
    os.makedirs("test")

    for id in tqdm(ids_train):
        df_id = df[df[trajectoryIDAttribute] == id]
        classe = df_id[targetAttribute].iloc[0]
        if maxPoints is not None:
            df[df[trajectoryIDAttribute] == id][attributes].head(maxPoints).to_csv(F"train/{id} s{id} c{classe}.r2", index=False, header=False)
        else:
            df[df[trajectoryIDAttribute] == id][attributes].to_csv(F"train/{id} s{id} c{classe}.r2", index=False, header=False)

    for id in tqdm(ids_test):
        df_id = df[df[trajectoryIDAttribute] == id]
        if maxPoints is not None:
            df_id = df_id.head(maxPoints)
        classe = df_id[targetAttribute].iloc[0]
        if maxPoints is not None:
            df[df[trajectoryIDAttribute] == id][attributes].head(maxPoints).to_csv(F"test/{id} s{id} c{classe}.r2", index=False, header=False)
        else:
            df[df[trajectoryIDAttribute] == id][attributes].to_csv(F"test/{id} s{id} c{classe}.r2", index=False, header=False)

prepareForShapelet(df0, "tid", "class", "t", "c1", "c2", trainPerc=.7, trajPerc=1)

In [ ]:
#heap space

## Geolet

In [10]:
import geolib.geohash
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
import pandas as pd
from tqdm.auto import tqdm
from cri98tj.partitioners.Geohash_partitioner import Geohash_partitioner
from cri98tj.normalizers.FirstPoint_normalizer import FirstPoint_normalizer
from cri98tj.selectors.RandomInformationGain_selector import RandomInformationGain_selector
from cri98tj.distancers.Euclidean_distancer import Euclidean_distancer
from sklearn.model_selection import train_test_split
from cri98tj.distancers.Euclidean_distancer import euclideanBestFitting

spatioTemporalCols = ["c1", "c2", "t"]

tid_train, tid_test, _, _ = train_test_split(df0.groupby(by=["tid"]).max().reset_index()["tid"],
                                                        df0.groupby(by=["tid"]).max().reset_index()["class"],
                                                        test_size=.3,
                                                        stratify=df0.groupby(by=["tid"]).max().reset_index()["class"],
                                                        random_state=3)

In [11]:
%%time

from datetime import datetime
from sklearn.metrics import accuracy_score, precision_score, f1_score, recall_score
from cri98tj.distancers.InterpolatedRootDistance_distancer import InterpolatedRootDistance_distancer, \
    InterpolatedRootDistanceBestFitting

precision = 5
n_jobs = 24
verbose = True



df1 = df0[["tid", "class", "c1", "c2", "t"]].copy()

normalizer = FirstPoint_normalizer(spatioTemporalColumns=spatioTemporalCols, fillna=None, verbose=verbose)
distancer = InterpolatedRootDistance_distancer(normalizer=normalizer, spatioTemporalColumns=spatioTemporalCols, n_jobs=n_jobs, verbose=verbose)
partitioner = Geohash_partitioner(precision=precision, spatioTemporalColumns=spatioTemporalCols, verbose=verbose)

start = datetime.now()
part = partitioner.fit_transform(df1[df1.tid.isin(tid_train)].values)
selector = RandomInformationGain_selector(top_k=50, bestFittingMeasure=InterpolatedRootDistanceBestFitting, 
                                          movelets_per_class=3000, trajectories_for_orderline=500, 
                                          n_jobs=n_jobs, spatioTemporalColumns=spatioTemporalCols, 
                                          normalizer=normalizer, verbose=verbose)
shapelets = selector.fit_transform(part)
_, dist_np = distancer.fit_transform((df1.values, shapelets))

Encoding 2793946 points with precision 5

  0%|          | 0/2793946 [00:00<?, ?it/s]

Cutting sub-trajectories length at 40.0 over 106
Pivoting tables

  0%|          | 0/52144 [00:00<?, ?it/s]

Cutting sub-trajectories length at 71.0 over 116
Pivoting tables

  0%|          | 0/22533 [00:00<?, ?it/s]

Computing scores

  0%|          | 0/3000 [00:00<?, ?it/s]

  0%|          | 0/3000 [00:00<?, ?it/s]

C:\Users\cri98\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.	 score=0.1167251504125173
1.	 score=0.10386138388824184
2.	 score=0.09647317137631539
3.	 score=0.09258925119982453
4.	 score=0.09233832567573308
5.	 score=0.09066970836462751
6.	 score=0.090536396320263
7.	 score=0.0902308725863541
8.	 score=0.09022302601205312
9.	 score=0.08695950768778937
10.	 score=0.08212506994333424
11.	 score=0.08071780360139624
12.	 score=0.07960663033437054
13.	 score=0.07811196171715884
14.	 score=0.07693922961168509
15.	 score=0.07674551772425264
16.	 score=0.0765459694389341
17.	 score=0.07593356662520545
18.	 score=0.07580551398200153
19.	 score=0.07580052089395473
20.	 score=0.07554586293506249
21.	 score=0.07495848733868504
22.	 score=0.07450702124354258
23.	 score=0.07314541817960785
24.	 score=0.07246970009870868
25.	 score=0.0723237874472229
26.	 score=0.07204133075380192
27.	 score=0.07192172096217297
28.	 score=0.07081757446969905
29.	 score=0.0704670876778064
30.	 score=0.07016857441984903
31.	 score=0.06828261428647231
32.	 score=0.06815145471490891
33.	 score=0.06795447720868042
34.	 score=0.06778262304431104
35.	 score=0.0676310540591083
36.	 score=0.06761326675888735
37.	 score=0.06703308153241028
38.	 score=0.06677354047824258
39.	 score=0.06668759792971146
40.	 score=0.06648722833917531
41.	 score=0.06637044823119198
42.	 score=0.06625174412044954
43.	 score=0.06619034677619329
44.	 score=0.06534749274498042
45.	 score=0.06444423167126967
46.	 score=0.0642771492075711
47.	 score=0.06424124338831305
48.	 score=0.06391445807114704
49.	 score=0.06356187493089682
Pivoting tables

  0%|          | 0/3989765 [00:00<?, ?it/s]

  0%|          | 0/50 [00:00<?, ?it/s]

Collecting distances from 50

  0%|          | 0/50 [00:00<?, ?it/s]

Wall time: 48min 48s

In [12]:
dist_np_df = pd.DataFrame(dist_np)
X = dist_np_df.drop(columns=[0]).values
y = dist_np_df[0].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, stratify=y, random_state=3)

In [13]:
rf = RandomForestClassifier(criterion='entropy', max_depth=22, n_estimators=1500, n_jobs=-1)#clf.best_estimator_


rf.fit(X_train, y_train)

from sklearn.metrics import classification_report

y_pred = rf.predict(X_test)

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           A       0.61      0.17      0.26      5579
           B       0.57      0.94      0.71     12969
           C       0.61      0.24      0.34      6928

    accuracy                           0.58     25476
   macro avg       0.60      0.45      0.44     25476
weighted avg       0.59      0.58      0.51     25476

In [14]:
from sklearn.metrics import accuracy_score, f1_score

print(accuracy_score(y_test, y_pred))
print(f1_score(y_test, y_pred, average="weighted"))

0.5778772177735908
0.5112862330515676