In [2]:
import pandas as pd
from cri98tj.distancers.Euclidean_distancer import Euclidean_distancer
from cri98tj.partitioners.Geohash_partitioner import Geohash_partitioner
from cri98tj.selectors.OPTICS_selector import OPTICS_selector
from cri98tj.selectors.RandomInformationGain_selector import RandomInformationGain_selector
from cri98tj.selectors.Random_selector import Random_selector
from cri98tj.selectors.RandomOrderline_selector import RandomOrderline_selector
from cri98tj.prebuilded_transformers.GeohashXmensEuclideian_prebuild import gxe_prebuild
from cri98tj.TrajectoryTransformer import TrajectoryTransformer
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

C:\Users\cri98\Documents\GitHub\cri98tj\cri98tj\distancers\Euclidean_distancer.py:7: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  from tqdm.autonotebook import tqdm

In [5]:
train_df = pd.read_csv("data/train.csv").drop(columns=["poi", "indexgrid10", "indexgrid30", "indexgrid50", "indexgrid100", "indexgrid150", "indexgrid_30m"])

train_df

          tid   label       day  hour        lat        lon   id
0        3078     143  Saturday     1  30.294886 -97.871811    0
1        3078     143  Saturday    17  30.238056 -97.797353    0
2        3078     143  Saturday    18  30.247754 -97.750704    0
3        3078     143  Saturday    19  30.247358 -97.750758    0
4        3078     143  Saturday    19  30.247353 -97.750179    0
...       ...     ...       ...   ...        ...        ...  ...
44112  840032  142661  Thursday     8  53.147304   8.179622  140
44113  840032  142661  Thursday    15  53.148302   8.182100  140
44114  840032  142661  Thursday    17  53.143883   8.220903  140
44115  840032  142661  Thursday    17  53.144183   8.223052  140
44116  840032  142661  Thursday    17  53.142839   8.219418  140

[44117 rows x 7 columns]